form {
  margin-top: 20px;
}
h1 {
  font-weight: bolder;
  font-size: 36px;

  color: #ea2c62;
  text-transform: uppercase;
}
h2 {
  color: #2f2e42;
  font-size: 20px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  font-size: 50px;
}
h3 {
  font-size: 20px;
  color: #62760c;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 5px;
}

p {
  font-size: 24px;
  color: #ea2c62;
  margin-top: 50px;

  background-color: #f8a927;
  width: 200px;
  padding: 5px;
  border-radius: 4px;
}
img {
  width: 150px;
  height: 150px;
}
li img {
  width: 55px;
  height: 55px;
}
.weather-app {
  background-image: url(../images/illustration.svg);
  background-repeat: no-repeat;
  padding-top: 2px;
  height: 700px;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
}

.currentdegrees {
  font-size: 50px;
  color: #62760c;
  font-weight: bolder;
}
.currentcondition {
  color: #62760c;
  font-weight: bolder;
  font-size: 24px;
  text-transform: capitalize;
}

.weather-forecast-temperature {
  color: #2f2e42;
  margin-bottom: 20px;
}
